/*
* Animations
*/

@keyframes animateBackground{
    from{background-color: #24292e;}
    to {background-color: white}
}
@keyframes animateTextToDark{
    from{color: white}
    to{color: #24292e}
}
@keyframes animateTextToWhite{
    from{color: #24292e}
    to{color: white}
}

/*
*   Main Popup Styles
*/

.github-users{
    background-color: white;
    min-height: 100px;
    min-width: 300px;
    float: right;
    position: relative;
    bottom: 50px;
    right: 15%;
    border: 2px solid #24292e;
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
}

/*
*   Popup Header Styles
*/

.popup-header-container{
    background-color: #24292e;
    padding: 10px;
    cursor: pointer;
}
.popup-header-container:hover{
    animation-name: animateBackground;
    animation-duration: 0.5s;
    background-color: white;
    margin-bottom: 0px;
}
.popup-header-container:hover > h3 {
    animation-name: animateTextToDark;
    animation-duration: 0.5s;
    color: #24292e;
}
.popup-header-container > h3 {
    display: inline-block;
    width: 90%;
    color: white;
    margin-bottom: 0px;
}

/*
*   Popup List Styles
*/

.popup-list-container{
    max-height: 300px;
}
.users-list{
    margin-left: 0px;
    max-height: 315px;
    overflow: scroll;
}
.users-list > li {
    color: #24292e;
    border-bottom:1px solid #24292e; 
    background: white;
    background: linear-gradient(to right, #24292e 50%, white 50%);
    background-size: 200% 100%;
    background-position:right bottom;
    transition:all 0.5s ease;
}
.users-list > li:hover{
    animation-name: animateTextToWhite;
    animation-duration: 0.1s;
    color: white;
    background-position: left bottom;

}
.users-list > li > a {
    padding-left: 10px;
    font-weight: 600;
    color: inherit;
}

/*
*   User Details Styles
*/

.popup-user-details{
    display: block;
    min-height: 300px;
    margin: 0px;
}
.user-details-inner-container{
    text-align: center;
}
.user-image{
    width: 100px;
    border-radius: 5px;
}

/*
*   Helper Classes
*/

.row-full-width{
    width: 100%;
    position: fixed;
    bottom: 0px;
    height: 0px;
    z-index: 10000;
}
.no-margin{
    margin: 0;
}
.float-right{
    float: right;
}
.hidden{
    display: none;
}
.sm-margin-bottom > div > p{
    font-weight: bold;
    margin-bottom: 0px;
    margin-top: 10px;
}